# dev config
REACT_APP_FIREBASE_API_KEY='AIzaSyAzDeNCjdlrX_exAxIRWXLvNhayCuKzoLc'
REACT_APP_FIREBASE_AUTH_DOMAIN='thywordle-dev.firebaseapp.com'
REACT_APP_FIREBASE_PROJECT_ID='thywordle-dev'
REACT_APP_FIREBASE_STORAGE_BUCKET='thywordle-dev.appspot.com'
REACT_APP_FIREBASE_MESSAGING_SENDER_ID='1002697533728'
REACT_APP_FIREBASE_APP_ID='1:1002697533728:web:8562904b3a7c8d42958f45'
REACT_APP_FIREBASE_MEASUREMENT_ID='G-TTWG4EJDTF'