# dev config
REACT_APP_FIREBASE_API_KEY='AIzaSyAzDeNCjdlrX_exAxIRWXLvNhayCuKzoLc'
REACT_APP_FIREBASE_AUTH_DOMAIN='thywordle-dev.firebaseapp.com'
REACT_APP_FIREBASE_PROJECT_ID='thywordle-dev'
REACT_APP_FIREBASE_STORAGE_BUCKET='thywordle-dev.appspot.com'
REACT_APP_FIREBASE_MESSAGING_SENDER_ID='1002697533728'
REACT_APP_FIREBASE_APP_ID='1:1002697533728:web:8562904b3a7c8d42958f45'
REACT_APP_FIREBASE_MEASUREMENT_ID='G-TTWG4EJDTF'

REACT_APP_FIREBASE_DAILY_STATS_API_KEY="AIzaSyCSeWujRcRZ_J2R-ErqKOELde4Yz5Itluw"
REACT_APP_FIREBASE_DAILY_STATS_AUTH_DOMAIN="scripturle-today-dev.firebaseapp.com"
REACT_APP_FIREBASE_DAILY_STATS_PROJECT_ID="scripturle-today-dev"
REACT_APP_FIREBASE_DAILY_STATS_STORAGE_BUCKET="scripturle-today-dev.appspot.com"
REACT_APP_FIREBASE_DAILY_STATS_MESSAGING_SENDER_ID="10625471978"
REACT_APP_FIREBASE_DAILY_STATS_APP_ID="1:10625471978:web:a24a5655b9e9af331e8e93"
REACT_APP_FIREBASE_DAILY_STATS_MEASUREMENT_ID="G-J6MBBGEJPB"
